# Nuxt dev/build output
.nuxt
.output
.data
dist

# Node
node_modules
.pnpm-store

# Logs
logs
*.log
npm-debug.log*

# Env
.env
.env.*
!.env.example

# Editor
.vscode
.idea
.DS_Store

# Vercel
.vercel
